body{
    background:hsl(204, 43%, 93%);
    font-family: 'League Spartan', sans-serif;
font-family: 'Poppins', sans-serif;
    
}
.component{
  display: block;
  padding: 30px;
  margin-top: 100px;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
}
.card-one{
   background:hsl(0, 0%, 99%); 
   padding: 39px;
   width: fit-content;

}
.add-up{
    color:hsl(179, 62%, 43%) ;
}
.time{
    color:hsl(71, 73%, 54%) ;
}
.message{
    color: hsl(0, 0%, 76%);
}

.double-card{
  display: flex;
   margin-bottom: 160px;
}
.card-two{
    background: hsl(179, 62%, 43%); 
    max-width: fit-content;
    padding: 30px;
    color: white;
    
}
.amount{
    font-size: 25px;

}
.month{
    font-size:12px;
    color:hsl(200, 7%, 83%) ;
}
.btn{
    padding: 10px 60px 10px;
    background: hsl(71, 73%, 54%);
    border: 1px solid hsl(71, 73%, 54%);
    border-radius: 8px;
    color: white;
}
.card-three{
    background:hsl(218, 22%, 67%) ;
    max-width: fit-content;
    padding: 49px;
    margin-right:200px;
    color: white;
}
.text{
margin-top: -6px;
}
.text2{
    color: hsl(218, 9%, 83%);
}
@media (max-width:600px) {
    .component{
        display: block;
        flex-wrap: nowrap;
        margin-left: auto;
        margin-left: auto;
        margin-top: 80px;
        align-items: center;
        justify-content: center;
    }
    .double-card{
        display: block;
        flex-wrap: nowrap;
    }
    .card-two{
         padding: 85px;
    }
    .card-three{
        min-width: 309px;
    }
    
}